.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8vw;
    padding-right: 10px;
}
/* search = #EAF1FB
hover = #D3E3FD
compose = #C2E7FF
active = #0C56CC
noti = #188038 , #1A73E8 */

.header-left {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .5vw;
    width: 15%;
}
.header-middle {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .5vw;
    width: 60%;
    background: #EAF1FB;
    border-radius: 40px;
    padding: 5px;
}
.header-middle input{
    padding: 8px;
    border: none;
    outline: none;
    width: 90%;
    background: transparent;
    font-size: 17px;
}
input::placeholder{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.header-left img{
    height: 40px;
}
.header-right {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .5vw;
    width: 20%;
}
.header-middle svg,
.header-right svg{
    fill: rgb(102, 102, 102);
}
.avater{
    cursor: pointer;
}