.app{
    background: #F6F8FC;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.app-body{
    display: flex;
    height: 88vh;
}
